



/*

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;  
}

nav {
	float: left;
	background: darkgray;
}

main {
	background: lightgray;
}

footer {
	background: gray;
	clear: both; 
}

h1 {
	font-family: 'Denk One',sans-serif;
	font-size: xx-large;
	color: maroon;
	text-align: center;
}
*/

/*
body {
	background: lightcyan;
	width: 800px;
	margin: auto;
}



p {
	color: gray;
	border: 1px solid gray;
	padding: 10px;
}
*/



