body {
	background: #f9e933;
}

header, main, footer {
	min-width: 855px;
}

header {
	background: white;
}

main {
	background: white;
}

/*


body {
	background: lightcyan;
	width: 800px;
	margin: auto;
}

h1 {
	color: maroon;
	text-align: center;
}

p {
	color: gray;
	color: 1px solid gray;
	padding: 10px;
}



nav {
	float: left;
	background: darkgray;
}

main {
	background: lightgray;
}

footer {
	background: gray;
	clear: both; 
}

h1 {
	font-family: 'Denk One',sans-serif;
	font-size: xx-large;
	color: maroon;
	text-align: center;
}


body {
	font-size: 100%;  
}



* {
	margin: 0;
	padding: 0;
}
body {
	background: lightcyan;
	width: 800px;
	margin: auto;
}



p {
	color: gray;
	border: 1px solid gray;
	padding: 10px;
}
*/



